USE [master]
GO
/****** Object:  Database [GitHubIssuePlanner]    Script Date: 2020/5/10 15:31:54 ******/
CREATE DATABASE [GitHubIssuePlanner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GitHubIssuePlanner', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GitHubIssuePlanner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GitHubIssuePlanner_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GitHubIssuePlanner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GitHubIssuePlanner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GitHubIssuePlanner]
GO
/****** Object:  Table [dbo].[tblIssues]    Script Date: 2020/5/10 15:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIssues](
	[issueId] [bigint] NOT NULL,
	[issueTitle] [nvarchar](200) NOT NULL,
	[Assignee] [nvarchar](200) NULL,
 CONSTRAINT [PK_tblIssues] PRIMARY KEY CLUSTERED 
(
	[issueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLeft]    Script Date: 2020/5/10 15:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLeft](
	[issueId] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRight]    Script Date: 2020/5/10 15:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRight](
	[issueId] [bigint] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
